@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


/*  use the font open sans */
* {
    font-family: 'Open Sans', sans-serif;
}


/** scroll bar styling */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

